[frame]
reload_interval = 30000
auto_regen = True
regen_time = 03:00
port = 5000

[comfyui]
comfyui_url = http://comfyui
models = zavychromaxl_v100.safetensors,ponyDiffusionV6XL_v6StartWithThisOne.safetensors
output_dir = ./output/
prompt = "Generate a random detailed prompt for stable diffusion."
width = 1568
height = 672
FLUX = False

[openwebui]
base_url = https://openwebui
api_key = sk-
models = llama3:latest,cogito:14b,gemma3:12b