[frame]
reload_interval = 30000
auto_regen = True
regen_time = 03:00
port = 5000
create_requires_auth = False
password_for_auth = create

[comfyui]
comfyui_url = http://comfyui
models = zavychromaxl_v100.safetensors,ponyDiffusionV6XL_v6StartWithThisOne.safetensors
output_dir = ./output/
prompt = "Generate a random detailed prompt for stable diffusion."
width = 1568
height = 672
topics =
secondary_topic =

flux = False
qwen = False
only_flux = False

[comfyui:qwen]
models = qwen-image-Q4_K_S.gguf, qwen-image-Q2_K.gguf
[comfyui:flux]
models = flux1-dev-Q4_0.gguf,flux1-schnell-Q4_0.gguf

[openwebui]
base_url = https://openwebui
api_key = sk-
models = llama3:latest,cogito:14b,gemma3:12b

[openrouter]
enabled = False
api_key =
models = mistralai/mistral-7b-instruct:free,google/gemma-7b-it:free,meta-llama/llama-3.1-8b-instruct:free
list_all_free_models = False
